<div class="border-form-div">
	<h2>Sign up</h2>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors resource %>
	<%= f.input :name, :autofocus => true %>
	<%= f.input :email, :required => true %>
	<strong>* Use @student.chula.ac.th to register only</strong>
	<hr>
	<%= f.input :password, :label => 'Password (at least 8 characters)', :required => true %>
	<%= f.input :password_confirmation, :required => true %>
	<%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
