<h3>Faculties</h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Registered</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.abbreviation %></td>
        <td><%= faculty.created_at.to_date %></td>
        <td>
          <a href= "faculties/<%=faculty.id %>/edit" class="btn btn-mini rbtn" type="button">Edit</a>
        </td>
        <td><%= button_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } , class: :'btn btn-mini rbtn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a  href= "/faculties/new" class="btn btn-mini rbtn" type="button">New Faculty</a>
