<p id="notice"><%= notice %></p>

<p>
  <strong>Know rating:</strong>
  <%= @rating.know_rating %>
</p>

<p>
  <strong>Diff rating:</strong>
  <%= @rating.diff_rating %>
</p>

<p>
  <strong>Grade rating:</strong>
  <%= @rating.grade_rating %>
</p>

<p>
  <strong>Course:</strong>
  <%= @rating.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
