<h3>Professors</h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Registered</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.last_name %></td>
        <td><%= professor.created_at.to_date %></td>
        <td>
          <a href= "professors/<%=professor.id %>/edit" class="btn btn-mini rbtn" type="button">Edit</a>
        </td>
        <td><%= button_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } , class: :'btn btn-mini rbtn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a  href= "/professors/new" class="btn btn-mini rbtn" type="button">New Professor</a>

