<!DOCTYPE html>
<html ng-app="ChulaLounge">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chula Lounge" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bootstrap Devise Cancan" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- [if lt IE 7]> <%= javascript_include_tag "ie-fix" %> <![endif]-->
    <!-- [if lt IE 6]> <%= javascript_include_tag "ie-fix" %> <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div ng-controller="ApplicationController">

              <%= render 'layouts/messages' %>
              <%= render_breadcrumbs %>
              <%= yield %>
      </div>
    </div>
    <%= render 'layouts/login' %>
  </body>
</html>
